header{
    height: 35px;
    width: 100%;
    position: fixed;
    top: 0;
}

header .left{
    float: left;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 70px;
    height: 100%;
    padding: 5px 10px;
    background: #b40427;
    background: -moz-linear-gradient(top, #b40427 0%, #fa084d 50%, #e60440 51%, #fc6a96 100%);
    background: -webkit-linear-gradient(top, #b40427 0%,#fa084d 50%,#e60440 51%,#fc6a96 100%);
    background: linear-gradient(to bottom, #b40427 0%,#fa084d 50%,#e60440 51%,#fc6a96 100%);
}

header .left h3{
    padding-top: 10%;
}

header .right{
    float: right;
}

.main{
    margin-top: 80px;
}
